ispyb-ejb/.settings/org.eclipse.wst.common.component
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project
ispyb-ejb/.project
ispyb-ws/.project
ispyb-ui/.project

# Eclipse Core
ispyb-ejb/.settings
ispyb-ws/.settings
ispyb-ui/.settings


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath
ispyb-ejb/.classpath
ispyb-ws/.classpath
ispyb-ui/.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Mac
*.DS_Store

# Batch to deploy ispyb.ear
deploy.bat
deploy10.bat

# Intelli J
.idea
*.iml
ispyb-ejb/*.iml
ispyb-ws/*.iml
ispyb-ui/*.iml

Sonarcube
.scannerwork/
sonar-project.properties

/*.log
/*.log
