<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

 <!--
  This file is part of ISPyB.
  ISPyB is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  ISPyB is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.
  You should have received a copy of the GNU Lesser General Public License
  along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
  Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin
-->

	<display-name>ISPyB</display-name>
	<description>ISPyB Web Application</description>
	<servlet>
		<servlet-name>attributeServlet</servlet-name>
		<servlet-class>ispyb.client.common.util.AttributeSettingServlet</servlet-class> 
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>action</servlet-name>

		<!--servlet-class>org.apache.struts.action.ActionServlet</servlet-class-->
		<servlet-class>
			ispyb.client.security.SpecificActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<!-- Tiles Servlet parameter 
				  Specify configuration file names. There can be several comma 
				  separated file names
				-->
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-defs.xml</param-value>
		</init-param>
		<!-- Tiles Servlet parameter 
				  Specify Tiles debug level.
				  O : no debug information
				  1 : debug information
				  2 : more debug information
				-->
		<init-param>
			<param-name>definitions-debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<!-- Tiles Servlet parameter 
				Specify Digester debug level. This value is passed to Digester
				  O : no debug information
				  1 : debug information
				  2 : more debug information
				-->
		<init-param>
			<param-name>definitions-parser-details</param-name>
			<param-value>0</param-value>
		</init-param>
		<!-- Tiles Servlet parameter 
				Specify if xml parser should validate the Tiles configuration file.
				true : validate. DTD should be specified in file header.
				false : no validation
				-->
		<init-param>
			<param-name>definitions-parser-validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- Struts configuration, if Struts is used -->
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

  <!--
  This file is part of ISPyB.
  ISPyB is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  ISPyB is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.
  You should have received a copy of the GNU Lesser General Public License
  along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
  Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin
-->

	<servlet-mapping>
	  <servlet-name>action</servlet-name>
	  <url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

  <!--
  This file is part of ISPyB.
  ISPyB is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  ISPyB is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.
  You should have received a copy of the GNU Lesser General Public License
  along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
  Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin
-->

		<!-- The Usual Welcome File List -->
		<welcome-file-list>
			<welcome-file>index.jsp</welcome-file>
			<!--welcome-file>welcomeUserPage.do</welcome-file>
			<welcome-file>welcomeGuestPage.do</welcome-file-->
		</welcome-file-list>
		<error-page> 
			<error-code>403</error-code> 
			<location>/permissionErrorPage.do</location> 
		</error-page>
		<!-- redirects session expired to index.jsp-->
		<error-page>
   			<exception-type>java.lang.IllegalStateException</exception-type>
   			<location>/index.jsp</location>
		</error-page>

  <!--
  To add taglibs by xml, create a file called taglibs.xml and place it
  in your merge dir.
  -->

  <!--
  This file is part of ISPyB.
  ISPyB is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  ISPyB is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.
  You should have received a copy of the GNU Lesser General Public License
  along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
  Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin
-->

		<!-- to disallow access to jsp tiles -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>Restrict access to JSP pages</web-resource-name>
				<url-pattern>/tiles/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
		        <description>With no roles defined, no access granted</description>
		    </auth-constraint>
		</security-constraint>

		<!-- Pages for User which can be seen by industrial -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>user</web-resource-name>
				<url-pattern>/user/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>User</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 

		<!-- Pages for User which can NOT be seen by industrial -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>userOnly</web-resource-name>
				<url-pattern>/userOnly/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>User</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages for industrial -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>industrial</web-resource-name>
				<url-pattern>/industrial/*</url-pattern>
				<!-- the pages belonging to user can be used by industrial -->
				<url-pattern>/user/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Industrial</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages for Manager -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>manager</web-resource-name>
				<url-pattern>/manager/*</url-pattern>
			<!-- the pages belonging to user can be used by manager -->
				<url-pattern>/user/*</url-pattern>
			<!-- the pages belonging to FedexManager can be used by manager -->
				<url-pattern>/fedexmanager/*</url-pattern>
				<url-pattern>/userOnly/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Manager</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint>
		<!-- Pages for Fedexmanager -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>fedexmanager</web-resource-name>
				<url-pattern>/fedexmanager/*</url-pattern>
				<!-- the pages belonging to user can be used by fedexmanager -->
				<url-pattern>/user/*</url-pattern>
				<url-pattern>/userOnly/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Fedexmanager</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages for Localcontact -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>localcontact</web-resource-name>
				<url-pattern>/localcontact/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
				<url-pattern>/user/*</url-pattern>
				<url-pattern>/manager/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Localcontact</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages for Blom -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>blom</web-resource-name>
				<url-pattern>/blom/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
				<url-pattern>/manager/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Blom</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages for Store -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>store</web-resource-name>
				<url-pattern>/store/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Store</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages for WebService -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>webservice</web-resource-name>
				<url-pattern>/webservice/*</url-pattern>
				<url-pattern>/security/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>WebService</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Pages that can only be read -->
		<security-constraint>
			<web-resource-collection>
				<web-resource-name>reader</web-resource-name>
				<url-pattern>/reader/*</url-pattern>
			</web-resource-collection>
			<auth-constraint>
				<role-name>Store</role-name>
				<role-name>User</role-name>
				<role-name>Industrial</role-name>
				<role-name>Localcontact</role-name>
				<role-name>Blom</role-name>
				<role-name>Fedexmanager</role-name>
				<role-name>WebService</role-name>
			</auth-constraint>
			<user-data-constraint>
				<transport-guarantee>NONE</transport-guarantee>
			</user-data-constraint>
		</security-constraint> 
		<!-- Login definition -->
		<login-config>
			<auth-method>FORM</auth-method>
			<form-login-config>
				<form-login-page>/logonPage.do</form-login-page> 
				<form-error-page>/logonUnAuthorizedPage.do</form-error-page>
			</form-login-config>
		</login-config>
		<!--Roles definition here!-->
		<security-role>
			<role-name>Industrial</role-name>
		</security-role>
		<security-role>
			<role-name>Manager</role-name>
		</security-role>
		<security-role>
			<role-name>Fedexmanager</role-name>
		</security-role>
		<security-role>
			<role-name>Localcontact</role-name>
		</security-role>
		<security-role>
			<role-name>Blom</role-name>
		</security-role>
		<security-role>
			<role-name>Store</role-name>
		</security-role>
		<security-role>
			<role-name>User</role-name>
		</security-role>
				<security-role>
			<role-name>WebService</role-name>
		</security-role>

</web-app>
