#-------------------------------------------------------------------------------
# This file is part of ISPyB.
# 
# ISPyB is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# ISPyB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
# 
# You should have received a copy of the GNU Lesser General Public License
# along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
# 
# Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin, A. De Maria Antolinos
#-------------------------------------------------------------------------------
#alert{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-image: url(../images/bgst.png);
	background-repeat: repeat;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	float: none; 
}

#horizon	
{
	background: transparent;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block;
}

#alert_img{
	width:128px;
	height:128px;
	margin-top:36px;
	float:left;
	margin-left:30px;
}

#alert_cadre{
    background: grey;
    border-width: thin;
    border-style: solid;
    border-color: black;
	margin-left: -300px;
	position: absolute;
	top: -100px;
	left: 50%;
	width: 600px;
	height: 200px;
	visibility: visible;
}


#alert_text{
	text-align:left;
    font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	height:100%;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#text_button{
	position:absolute;
	bottom:10px;
	text-align:center;
	width:100%;
    margin-left:auto;
	margin-right:auto;
	/*margin-left:-30px;
	left:50%;*/
}

#alert_ok{
 width:30px;
 height: 25px;
}

#alert_cancel{
 width:60px;
 height: 25px;
}

.ptxt{
	font-size:20px;
}

.perror{
	font-size:20px;
	font-weight:900;
}
