#-------------------------------------------------------------------------------
# This file is part of ISPyB.
# 
# ISPyB is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# ISPyB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
# 
# You should have received a copy of the GNU Lesser General Public License
# along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
# 
# Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin
#-------------------------------------------------------------------------------

/* tip to avoid bug : 1st line not taken into account */
nothing {
	
}
/*****************************************
 *    new background color for local contact  *
 *****************************************/
 
/* body */

body {
	background-color: #E9FFD5;
	color: #336633;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 0px 0px 0px 0px;
}


.navbartable {
	background-color: #E9FFD5;
}
