#-------------------------------------------------------------------------------
# This file is part of ISPyB.
# 
# ISPyB is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# ISPyB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
# 
# You should have received a copy of the GNU Lesser General Public License
# along with ISPyB.  If not, see <http://www.gnu.org/licenses/>.
# 
# Contributors : S. Delageniere, R. Leal, L. Launer, K. Levik, S. Veyrier, P. Brenchereau, M. Bodin
#-------------------------------------------------------------------------------

/* tip to avoid bug : 1st line not taken into account */
nothing {
	
}

/* general */


.ispybgen {
	padding: 0;
}

/* Links */

a {
	color: #222222;
	text-decoration: underline;
}

a:visited {
	color: #222222;
	text-decoration: underline;
}

a:hover {
	color: #222222;
	text-decoration: none;
}

a:active {
	color: #222222;
	text-decoration: none;
}

a.noUnderline {
	text-decoration: none;
}

a.noUnderline:visited {
	text-decoration: none;
}

a.noUnderline:hover {
	text-decoration: none;
}

a.noUnderline:active {
	text-decoration: none;
}

a.navbarchild {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.95em;
	text-decoration: none;
}

a.navbarchild:visited {
	color: #000000;
	text-decoration: none;
}

a.navbarchild:hover {
	color: #ffffff;
	background: #6e6e6e;
	text-decoration: none;
}

a.navbarchild:active {
	color: #fea901;
	text-decoration: none;
}

a.navbarchildselected {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
}

a.navbarchildselected:visited {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	text-decoration: none;
}

a.navbarchildselected:hover {
	color: #000000;
	text-decoration: none;
}

a.navbarchildselected:active {
	color: #fea901;
	text-decoration: none;
}

a.navbarparent {
	color: #6e6e6e;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
}

a.navbarparent:visited {
	color: #6e6e6e;
}

a.navbarparent:hover {
	color: #000000;
}

a.navbarparent:active {
	color: #fea901;
}

a.navbarparentselected {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
}
a.navbarparentselected:visited {
	color: #000000;
}

a.navbarparentselected:hover {
	color: #000000;
}

a.navbarparentselected:active {
	color: #fea901;
}

a.navtab {
	/*color: #82BE00;*/
	color: #FFFFFF;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.97em;
	font-weight: bold;
	text-decoration: none;
}

a.navtab:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.headerblue > .navtab {
	color: #82BE00;
	text-decoration: none;
}

.headerblue > .navtab:visited {
	color: #82BE00;
	text-decoration: none;
}

a.headerblue.navtab {
	color: #82BE00;
	text-decoration: none;
}

a.navtab:hover {
	color: #6e6e6e;
	text-decoration: none;
}

a.navtab:active {
	color: #FFFFFF;
	text-decoration: none;
}


/* body */
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
	margin: 0px 0px 0px 0px;
}

/* headers */
h1 {
	color: #82be00;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 1.6em;
	margin: 0.67em 0px;
}

h2 {
	color: #82be00;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 1.25em;
	margin: 0.80em 0px;
}

h3 {
	color: #82be00;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 1.1em;
	margin: 1em 0px;
}

h4 {
	color: #818184;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 1em 0px;
}

p {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
}

/* list */
li {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
}

li.error {
	color: #FF0000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 1em;
}

li.info {
	color: #006600;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 1em;
}

ol {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
}

ul {
	color: #000000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
}

.footer {
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 0.85em;
}

.headerblue {
	background: #FFFFFF;
	color: #fea901;
	padding: 0;
	border: 0;
}

.margintop {
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}


.navbartable {
	/*background-color: #EEEEEE;*/
	padding: 0;
}

/* header select role form */
.searchbox {
	color: #000000;
	font-size: 11px;
	width: 155px;
}

.searchform {
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.small {
	font-size: 0.85em;
}

.proteinFromSampleSheet {
 	color: #00C000;
 	font-size: x-small;
}

.greyText {
	color: #a0a1a3;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
}

.redText {
	color: #FF0000;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: small;
}

/* tab bar*/
.tabbar{
	background: #82be00;	
}

