body {
	background-color: #EEEEEE ;
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
} 

.normText1 {
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana,arial,helvetica;  
	COLOR: #113355; 
	LINE-HEIGHT: 16px; 
}

.normText1_RED {
   FONT-SIZE: 12px;
   FONT-FAMILY: verdana,arial,helvetica;     
   COLOR: #A00404;
   LINE-HEIGHT: 16px;
   font-weight:    bold;
}

.normText1_GREEN {
	FONT-SIZE: 12px;
   	FONT-FAMILY: verdana,arial,helvetica;     
   	COLOR: #0E480E;
   	LINE-HEIGHT: 16px;
   	font-weight:    bold;
}


.smallText1 {
	FONT-SIZE: 10px;
	FONT-FAMILY: verdana,arial,helvetica;  
	COLOR: #113355; 
	LINE-HEIGHT: 10px; 
	font-weight:	bold;
}

.smallText1_WHITE {
	FONT-SIZE: 10px;
	FONT-FAMILY: verdana,arial,helvetica;  
	COLOR: #FFFFFF; 
	LINE-HEIGHT: 10px; 
	font-weight:	bold;
}

.fieldName1 {
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana,arial,helvetica;  
	COLOR: #113355; 
	LINE-HEIGHT: 16px; 
	font-weight:	bold;
}

.tableHeader1 {
	WIDTH:100%;
	HEIGHT:15px;
	ALIGN:center;
	MARGIN: 0px;
	BORDER-SPACING:0px; 
	BORDER: 2px solid #113355;
	COLOR: black; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial,helvetica; 
	BACKGROUND-COLOR: #113355 ;
}

.tableForm1 {
	WIDTH:215px;
	ALIGN:center;
	MARGIN: 0px;
	BORDER-SPACING:8px; 
	BORDER: 0px solid #000000 ;
	COLOR: black; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana,arial,helvetica; 
}

.inputType0 {
   	width: 90px;
   	border:1px solid;
    border-top-color: #113355 ;
    border-left-color: #113355 ;
    border-right-color: #113355 ;
    border-bottom-color: #113355 ;
    FONT-FAMILY: arial,helvetica; 
    font-size: 12px;
    font-weight:normal;
}

.inputType1 {
   	width: 200px;
   	border:1px solid;
    border-top-color: #113355 ;
    border-left-color: #113355 ;
    border-right-color: #113355 ;
    border-bottom-color: #113355 ;
    FONT-FAMILY: arial,helvetica; 
    font-size: 12px;
    font-weight:normal;
}

.inputType3 {
   	width: 150px;
   	border:1px solid;
    border-top-color: #113355 ;
    border-left-color: #113355 ;
    border-right-color: #113355 ;
    border-bottom-color: #113355 ;
    FONT-FAMILY: arial,helvetica; 
    font-size: 12px;
    font-weight:normal;
}

.fieldList1 {
   	width: 195px;
   	height:50px;
   	border:1px solid;
    border-top-color: #113355 ;
    border-left-color: #113355 ;
    border-right-color: #113355 ;
    border-bottom-color: #113355 ;
    FONT-FAMILY: arial,helvetica ;
    font-size: 10px;
    font-weight:normal;
} 

.buttonType1 {
   color: #000000 ;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:2px solid;
   border-top-color: #AAAAAA ;
   border-left-color: #AAAAAA ;
   border-right-color: #113355 ;
   border-bottom-color: #113355 ;

   WIDTH: 60px; 
   HEIGHT: 30px; 
   CURSOR: pointer;
}

.buttonType1_large {
   color: #000000 ;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:2px solid;
   border-top-color: #AAAAAA ;
   border-left-color: #AAAAAA ;
   border-right-color: #113355 ;
   border-bottom-color: #113355 ;

   WIDTH: 180px; 
   HEIGHT: 30px; 
   CURSOR: pointer;
}

/* LOADING WINDOW ----------------------------- */

.loadingText {
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana,arial,helvetica;  
	COLOR: #113355; 
	LINE-HEIGHT: 16px; 
}

.loadingTable {
      BORDER-RIGHT: #000000 1px solid;
      BORDER-TOP: #000000 1px solid;
      BORDER-LEFT: #000000 1px solid; 
      BORDER-BOTTOM: #000000 1px solid;
      BACKGROUND-COLOR: #EEEEEE;
}
.loadingStyle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}



 
