/* Links */

a {
	color: #0000FF;
	text-decoration: underline;
}

a:visited {
	color: #0000FF;
	text-decoration: underline;
}

a:hover {
	color: #000080;
	text-decoration: none;
}

a:active {
	color: #D1D3FD;
	text-decoration: none;
}

a.navbarchild {
	color: #406088;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	text-decoration: none;
}

a.navbarchild:visited {
	color: #406088;
	text-decoration: none;
}

a.navbarchild:hover {
	color: #ffffff;
	background: #406088;
	text-decoration: none;
}

a.navbarchild:active {
	color: #406088;
	text-decoration: none;
}

a.navbarchildselected {
	color: #000080;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	font-weight: bold;
	text-decoration: none;
}

a.navbarchildselected:visited {
	color: #000080;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
}

a.navbarchildselected:hover {
	color: #000080;
	text-decoration: none;
}

a.navbarchildselected:active {
	color: #000080;
	text-decoration: none;
}

a.navbarparent {
	color: #406088;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	font-weight: bold;
	text-decoration: none;
}

a.navbarparent:visited {
	color: #406088;
}

a.navbarparent:hover {
	color: #000080;
}

a.navbarparent:active {
	color: #406088;
}

a.navbarparentselected {
	color: #000080;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
	font-weight: bold;
	text-decoration: none;
}
a.navbarparentselected:visited {
	color: #000080;
}

a.navbarparentselected:hover {
	color: #000080;
}

a.navbarparentselected:active {
	color: #000080;
}

a.navtab {
	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.92em;
	font-weight: bold;
	text-decoration: underline;
}

a.navtab:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

a.navtab:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a.navtab:active {
	color: #FFFFFF;
	text-decoration: none;
}


/* body */
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 0px 0px 0px 0px;
}

/* headers */
h1 {
	color: #113355;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin: 0.67em 0px;
}

h2 {
	color: #6888A8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	margin: 0.83em 0px;
}

h3 {
	color: #113355;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 1em 0px;
}

h4 {
	color: #6888A8;
	color: #6888a8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 1em 0px;
}

p {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

/* list */
li {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

li.error {
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

li.info {
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

ol {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

ul {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
}

.headerblue {
	background: #113355;
	color: #FFFFFF;
}

.margintop {
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}


.navbartable {
	background-color: #EEEEEE;
}

/* header select role form */
.searchbox {
	color: #000000;
	font-size: 11px;
	width: 155px;
}

.searchform {
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.small {
	font-size: 0.85em;
}

.proteinFromSampleSheet {
 	color: #00C000;
 	font-size: x-small;
}
